body {
    min-height: 100vh;
    background: linear-gradient(180deg, black, #626262);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.weather-card {
    text-align: center;
    background: #7a7a7a;
    padding: 10px;
    border-radius: 5px;
    min-height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-weather-card {
    text-align: center;
    background: #203e5c;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 155px;
}

.wind-weather-card {
    text-align: center;
    background: #524040;
    padding: 10px;
    border-radius: 5px;
    min-height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wind-weather-card h3, .wind-weather-card p, .main-weather-card h3, .main-weather-card p, .weather-card h3, .weather-card p {
    color: white;
}

.main-weather-card div {
    padding: 15px;
}

.wind-weather-card p {
    margin: 0;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ffffff4d;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 10px;
}

.main-title-sec h4 {
    margin: 20px 0;
    font-size: 35px;
    margin-bottom: 60px;
    text-transform: uppercase;
    border: 5px solid #262626;
    padding: 15px 70px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: inset 0px -2px 16px -6px #e3e3e3;
}

.main-weather-card p {
    margin: 0;
}

.nav-card a {
    color: #ffffffb8;
    border: 1px solid black;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: inset 0px -2px 16px -6px #701010;
    text-decoration: none !important;
    margin: 0 10px;
}

.nav-card {
    text-align: center;
    margin-bottom: 50px;
}

.pd-main-image {
    text-align: center;
}

.pd-main-image img {
    width: 60%;
    border-radius: 22px;
}

.pd-home-main-title {
    font-size: 50px;
    margin-bottom: 50px;
}

.pd-main-seach-weather {
    background: transparent;
    margin-top: 50px;
    width: 60%;
    padding: 10px 20px;
    border-radius: 31px;
    box-shadow: inset 0px 0px 19px -7px #979797;
    color: white;
    border: 2px solid gray;
}

input:focus{
    outline: none;
    border: none;
}